<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Dashboard</title>
    <style>
        body{
            background-color: blueviolet;
        }
        .container{
            background-color: rgb(186, 140, 222);
            display: flex;
            align-items: center;
        }
        #ip{
            background-attachment: fixed;
            background-color: rgb(41, 199, 123);
    
        }
        #button{
            background-color: rgb(48, 229, 239);
            
        }

    </style>
</head>
<body>
    <h1 style="height: 50px; text-align: center;">Weather Reporter</h1>
    <div class="container">
        <h1>Weather Dashboard</h1>
        <form class="form" action="/" method="POST">
            <input id='ip'type="text" name="city" placeholder="Enter your City: " required>
            <button id="button" type="submit">Get Weather Details</button>
        </form>
        
        {% if error %}
        <p class="error"> {{error}}</p>
        {% endif %}

        {%if weather %}
        <div class=weather">
            <h1> "Weather in {{weather.city}}, {{weather.country_name}}: </h1>
            <p> "Temprature in {{weather.temp}}: </p>
            <p> "Feels Like {{weather.feels_like}}: </p>
            <p> "Humidity {{weather.humidity}}: </p>
            <p> "Wind Speed {{weather.wind_speed}}: </p>
            <p> "Condition {{weather.condition}}: </p>
        </div>
        {% endif %}
    </div>
</body>
</html>